*.egg-info
*.log
*.pot
*.py[co]
*.swp
.DS_Store
.env
/media/
/static/
__pycache__
build/
dist/
docs/_build/
docs/locale/
local_settings.py
MANIFEST
node_modules/
tests/.coverage
tests/coverage_html/
tests/report/