{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load directory_tags %}

{% block body_class %}template-directoryindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% if page.related_links.all %}
        <ul>
            {% for item in page.related_links.all %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul>
    {% for org in organization_pages %}
        <li>{{ org.title }}</li>
    {% endfor %}
    </ul>

{% endblock %}